<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>登录</title>
    <link rel="stylesheet" href="../../Framework/Bootstrap3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Framework/Bootstrap3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../Css/Account/Login.css">
    <style>
        a {
            color: #333;
            text-decoration: none;
        }
        .row{margin-top: 10px;}

        .top {
            margin-top: 35px;
        }

    </style>
</head>
<body style="background: url('../../Images/account/Account_Background.png') no-repeat;background-size: 100%;">
<div class="container" style="width: 85%">
    <!--<div class="row pdtb15 border_btm">-->
    <!--<div class="col-xs-3 pl15 pr5">-->
    <!--<span class="pdtb10 display_block">手机号：</span></div>-->
    <!--<div class="col-xs-9 pr15 pl5">-->
    <!--<input type="text" id="UserName" name="UserName" placeholder="请输入手机号码"/></div>-->
    <!--</div>-->
    <!--<div class="row pdtb15 border_btm">-->
    <!--<div class="col-xs-3 pl15 pr5">-->
    <!--<sapn class="pdtb10 display_block">密码：</sapn>-->
    <!--</div>-->
    <!--<div class="col-xs-9 pr15 pl5">-->
    <!--<input type="password" id="Pwd" name="Pwd" placeholder="请输入登录密码"/></div>-->
    <!--</div>-->
    <!--<div style="text-align: center;padding-bottom: 20px;padding-top: 30px;">-->
        <!--<img src="../../Images/account/Account_Logo.png" style="height: 75px;width: 75px;"/>-->
        <!--<p style="font-size: 16px;color: #F24C4C; font-family: 华文新魏">摩英教育</p>-->
    <!--</div>-->
    <div class="row">
        <div class="col-xs-12">
            <img src="../../Images/account/return.png" height="25" width="25"/>
        </div>
    </div>
    <div class="row top">
        <div class="col-xs-12 text-center">
            <input type="text" id="UserName" name="UserName" autocomplete="off" placeholder="请输入手机号码"/></div>
    </div>
    <div class="row top">
        <div class="col-xs-12 text-center">
            <input type="password" id="Pwd" name="Pwd" autocomplete="off" placeholder="请输入登录密码"/></div>
    </div>
    <div class="row top">
        <div class="col-xs-12 text-center">
           <button id="btnLogin" style="border-radius: 25px; height: 45px">登 录</button></div>
    </div>
    <div class="row" style="margin-top: 20px">
        <!--<div class="col-xs-6">-->
            <!--<a href="Register.html" style="font-size: 12px;">注册账号</a>-->
        <!--</div>-->
        <div class="col-xs-12 text-center">
            <a href="RetrievePassword.html" style="font-size: 12px;color: #fd5454">忘记密码？</a>
        </div>
    </div>
</div>

<script src="../../Framework/Jqueryv2.4/jquery.min.js"></script>
<script src="../../Framework/Bootstrap3.3.0/js/bootstrap.min.js"></script>
<script src="../../Framework/jquery-cookies/jquery.cookie.js"></script>
<script src="../../Framework/layer_mobile/layer.js"></script>
<script src="../../Scripts/Commen/CourseCommen.js"></script>
<script src="../../Scripts/Account/Login.js"></script>
</body>
</html>