<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <link rel="stylesheet" href="../../Framework/Bootstrap3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Framework/Bootstrap3.3.0/css/bootstrap-theme.min.css">
    <!--<link rel="stylesheet" href="../../Css/Account/Login.css">-->

    <title>个人中心</title>
    <style>
        .pl5 {
            padding-left: 5px
        }

        .pr5 {
            padding-right: 5px
        }

        .pl15 {
            padding-left: 15px;
        }

        .pr15 {
            padding-right: 15px;
        }

        .border_btm {
            border-bottom: 1px solid #eeeeee;
        }

        .pdtb10 {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .display_block {
            display: block
        }

        .color_gray {
            color: gray;
        }

        #edit {
            width: 100%;
            height: 40px;
            border: 1px solid #dddddd;
            border-radius: 7px;
            padding-left: 5px;
        }

        .layui-m-layerchild h3 {
            font-size: 14px !important;
            height: 20px !important;
            line-height: 20px !important;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row pdtb10 border_btm">
        <div class="col-xs-3 pl15 pr5">
            <span class="display_block">登录名</span></div>
        <div class="col-xs-9 pr15 pl5 text-right">
            <span class="color_gray" id="account"></span></div>
    </div>
    <div class="row pdtb10 border_btm">
        <div class="col-xs-3 pl15 pr5">
            <span class="display_block">修改密码</span></div>
        <div class="col-xs-9 pr15 pl5 text-right">
            <span class="color_gray" id="pwd"></span></div>
    </div>
    <div class="row pdtb10 border_btm" id="nick">
        <div class="col-xs-3 pl15 pr5">
            <span class="display_block">学员姓名</span></div>
        <div class="col-xs-9 pr15 pl5 text-right">
            <span class="color_gray" id="nickName"></span></div>
    </div>
    <div class="row pdtb10 border_btm">
        <div class="col-xs-3 pl15 pr5">
            <span class="display_block">性别</span></div>
        <div class="col-xs-9 pr15 pl5 text-right">
            <span class="color_gray" id="sex"></span></div>
    </div>
    <div class="row pdtb10 border_btm">
        <div class="col-xs-3 pl15 pr5">
            <span class="display_block">就读学校</span></div>
        <div class="col-xs-9 pr15 pl5 text-right">
            <span class="color_gray" id="school"></span></div>
    </div>
    <div class="row pdtb10 border_btm">
        <div class="col-xs-3 pl15 pr5">
            <span class="display_block">年级</span></div>
        <div class="col-xs-9 pr15 pl5 text-right">
            <span class="color_gray" id="grade"></span></div>
    </div>
    <div class="row pdtb10 border_btm">
        <div class="col-xs-3 pl15 pr5">
            <span class="display_block">班级</span></div>
        <div class="col-xs-9 pr15 pl5 text-right">
            <span class="color_gray" id="className"></span></div>
    </div>
    <div class="row pdtb10 border_btm">
        <div class="col-xs-3 pl15 pr5">
            <span class="display_block">出生日期</span></div>
        <div class="col-xs-9 pr15 pl5 text-right">
            <span class="color_gray" id="birthday"></span></div>
    </div>
    <div class="row pdtb10 border_btm">
        <div class="col-xs-3 pl15 pr5">
            <span class="display_block">学员手机</span></div>
        <div class="col-xs-9 pr15 pl5 text-right">
            <span class="color_gray" id="phone"></span></div>
    </div>
    <div class="row pdtb10 border_btm">
        <div class="col-xs-3 pl15 pr5">
            <span class="display_block">电子邮件</span></div>
        <div class="col-xs-9 pr15 pl5 text-right">
            <span class="color_gray" id="email"></span></div>
    </div>
    <div class="row pdtb10 border_btm">
        <div class="col-xs-3 pl15 pr5">
            <span class="display_block">父亲姓名</span></div>
        <div class="col-xs-9 pr15 pl5 text-right">
            <span class="color_gray" id="fatherName"></span></div>
    </div>
    <div class="row pdtb10 border_btm">
        <div class="col-xs-3 pl15 pr5">
            <span class="display_block">父亲手机</span></div>
        <div class="col-xs-9 pr15 pl5 text-right">
            <span class="color_gray" id="fatherPhone"></span></div>
    </div>
    <div class="row pdtb10 border_btm">
        <div class="col-xs-3 pl15 pr5">
            <span class="display_block">母亲姓名</span></div>
        <div class="col-xs-9 pr15 pl5 text-right">
            <span class="color_gray" id="motherName"></span></div>
    </div>
    <div class="row pdtb10 border_btm">
        <div class="col-xs-3 pl15 pr5">
            <span class="display_block">母亲手机</span></div>
        <div class="col-xs-9 pr15 pl5 text-right">
            <span class="color_gray" id="motherPhone"></span></div>
    </div>
    <div class="row pdtb10 border_btm">
        <div class="col-xs-3 pl15 pr5">
            <span class="display_block">宅电</span></div>
        <div class="col-xs-9 pr15 pl5 text-right">
            <span class="color_gray" id="tel"></span></div>
    </div>
    <div class="row pdtb10 border_btm">
        <div class="col-xs-5 pl15 pr5">
            <span class="display_block">快递地址(详细)</span></div>
        <div class="col-xs-7 pr15 pl5 text-right">
            <span class="color_gray" id="address"></span></div>
    </div>
</div>
<!--navbar-fixed-bottom-->
<div style="height: 60px;width: 100%;"></div>
<div class="container navbar-fixed-bottom" style="background: #FFF;">
    <div class="row" style="border-top: 1px solid #EEEEEE;">
        <div class="col-xs-4" style="height: 50px;line-height: 50px;text-align: center;font-size: 16px;">
            <a style="color: #000;" href="/Course/Views/Appointment/CourseList.html">课程介绍</a>
        </div>
        <div class="col-xs-4" style="height: 50px;line-height: 50px;border-left: 1px solid #eee;text-align: center;font-size: 16px;">
            <a style="color: #000;" href="/Course/Views/book/booking.html">我的预约</a>
        </div>
        <div class="col-xs-4" style="height: 50px;line-height: 50px;border-left: 1px solid #eee;text-align: center;font-size: 16px;">
            <a style="color: #F24C4C;" href="/Course/Views/Account/PersonalCenter.html">个人中心</a>
        </div>
    </div>
</div>
<script src="../../Framework/Jqueryv2.4/jquery.min.js"></script>
<script src="../../Framework/Bootstrap3.3.0/js/bootstrap.min.js"></script>
<script src="../../Framework/jquery-cookies/jquery.cookie.js"></script>
<script src="../../Framework/layer_mobile/layer.js"></script>
<script src="../../Scripts/Commen/CourseCommen.js"></script>
<script src="../../Scripts/Account/PersonalCenter.js"></script>
</body>
</html>