<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <link rel="stylesheet" href="../../Framework/Bootstrap3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Framework/Bootstrap3.3.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title>我的银行卡</title>

</head>
<body style="background: url('../../Images/personbackgroung.png') no-repeat;background-size: 100%;">
<div class="container">

</div>
<script src="../../Framework/Jqueryv2.4/jquery.min.js"></script>
<script src="../../Framework/Bootstrap3.3.0/js/bootstrap.min.js"></script>
<script src="../../Framework/jquery-cookies/jquery.cookie.js"></script>
<script src="../../Framework/layer_mobile/layer.js"></script>
<script src="../../Scripts/Commen/CourseCommen.js"></script>
<script src="../../Scripts/Commen/CheckUserLogin.js"></script>
<script src="../../Scripts/Payment/PaymentList.js"></script>
</body>
</html>