<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is an demo Page</title>

</head>
<body>
<div>This is an demo Page</div>
<script>
    //是否PC端
    var IsPC = function () {
        var userAgentInfo = navigator.userAgent;
        var Agents = ["Android", "iPhone",
            "SymbianOS", "Windows Phone",
            "iPad", "iPod"];
        var flag = true;
        for (var v = 0; v < Agents.length; v++) {
            if (userAgentInfo.indexOf(Agents[v]) > 0) {
                flag = false;
                break;
            }
        }
        return flag;
    }
    if (IsPC()) {
        window.location.href = "/Course/Views/Admin/manage/Login.html";
    } else {
        window.location.href = "/Course/Views/Account/Login.html";
    }
</script>
</body>
</html>