<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <link rel="stylesheet" href="../../Framework/Bootstrap3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Framework/Bootstrap3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../Css/Product/Exchange.css">
    <meta charset="UTF-8">
    <title>兑换</title>

</head>
<body>
    <div id="article_detials">

    </div>

    <div id="address">
        <!--<div style="border-bottom: 10px solid #EEEEEE">-->
            <!--<div class="container frame_radio">-->
                <!--<div class="radio content_radio">-->
                    <!--<label>-->
                        <!--<input style="margin-top: 15px;" type="radio" name="blankRadio" id="blankRadio1" value="option1">-->
                        <!--<div class="address">-->
                            <!--<span style="float: left;">啦啦啦</span>-->
                            <!--<span style="float: right">13012983619</span>-->
                            <!--<span class="address_content">啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦</span>-->
                        <!--</div>-->
                    <!--</label>-->
                <!--</div>-->
                <!--<div style="text-align: right;padding: 5px;margin-top: -10px">-->
                    <!--<button>编辑</button>-->
                    <!--<button>删除</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="noAddress">-->
            <!--<p style="text-align: center;padding-top: 20px">你还没有填写地址</p>-->
            <!--<button style="text-align: center;width: 100%;color: red">添加地址</button>-->
        <!--</div>-->
        <!--<div style="text-align: right;padding: 5px;border-bottom: 10px solid #EEEEEE">-->
            <!--<button>管理地址</button>-->
        <!--</div>-->
        <!--<div class="exchange">确认兑换</div>-->
    </div>



    <script src="../../Framework/Jqueryv2.4/jquery.min.js"></script>
    <script src="../../Framework/Bootstrap3.3.0/js/bootstrap.min.js"></script>
    <script src="../../Framework/jquery-cookies/jquery.cookie.js"></script>
    <script src="../../Framework/layer_mobile/layer.js"></script>
    <script src="../../Scripts/Commen/CourseCommen.js"></script>
    <!--<script src="../../Scripts/Commen/CheckUserLogin.js"></script>-->
    <script src="../../Scripts/Product/Exchange.js"></script>

</body>
</html>