<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <link rel="stylesheet" href="../../Framework/Bootstrap3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Framework/Bootstrap3.3.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title>积分商城</title>
    <style>

        .tab{ height:40px; border-bottom:1px solid #eee; }

        .tab > div{ margin-top:15px; }

        .tab a{ color:#000; font-size:16px; padding-bottom:2px; text-decoration:none; }
        #product_list >.list{padding:10px;}
    </style>
</head>
<body>
<div class="container">
    <div class="row tab">
        <div class="col-xs-6 text-center" style="padding-right: 0">
            <a href="../Order/MyOrderList.html?type=1" id="order_list">我的订单</a></div>
        <div class="col-xs-6 text-center" style="padding-left: 0">
            <a href="../Order/MyOrderList.html?type=2" id="da_list">收货地址</a></div>
    </div>
    <div class="row" id="product_list">

    </div>
</div>
<script src="../../Framework/Jqueryv2.4/jquery.min.js"></script>
<script src="../../Framework/Bootstrap3.3.0/js/bootstrap.min.js"></script>
<script src="../../Framework/jquery-cookies/jquery.cookie.js"></script>
<script src="../../Framework/layer_mobile/layer.js"></script>
<script src="../../Scripts/Commen/CourseCommen.js"></script>
<script src="../../Scripts/Commen/CheckUserLogin.js"></script>
<script src="../../Scripts/Product/ProductList.js"></script>
</body>
</html>