.header {
    position: relative;
}

.headerImg {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
}

.head_field {
    /*margin-top: -110px;*/
    position: absolute;
    top: 55%;
    left: 50%;
    margin-left: -56px;
    color: white;
    text-align: center;
    font-size: 16px;
    margin-bottom: 0px;
}

.apply_field {
    padding-top: 5px;
    margin: 0px;
    color: red;
    text-align: center;
    font-size: 14px;
}

.apply_button {
    padding: 10px;
	outline:none;
	border:none;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #F24D4D;
    font-size: 16px;
    color: white;
	width:80%;
    border-radius: 3px;
}

.apply_buttondis {
	padding: 10px;
	outline:none;
	border:none;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 16px;
	color: white;
	width:80%;
	border-radius: 3px;
}

.rule {
	background:transparent;
	outline:none;
    border:none;
    width: 100%;
}

.customerService {
    color: gray;
    text-align: center;
}