<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>阶段预约列表</title>
    <link rel="stylesheet" href="../../../Framework/Bootstrap3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../Framework/Bootstrap3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../../Css/Admin/Comm.css">
    <style>
        button {
            width: 70px;
            height: 30px
        }

        * {
            font-size: 13px !important;
        }
    </style>
</head>
<body>
<div id="header"></div>
<div style="height: 80px"></div>
<div class="container">
    <div class="row" style="padding: 10px;background: #e5e5e5">
        <div class="col-xs-5 text-left">
            <h4><strong id="paseName"></strong></h4>
        </div>
        <div class="col-xs-7 text-right">
            <input type="text" style="width: 60%" id="SearchKey" placeholder="请输入搜索关键字"/>
            <button id="btnSearch">搜 索</button>
            <button id="btnAdd">手动录入</button>
            <button id="btnImport">导出Excel</button>
        </div>
    </div>
    <div class="row" style="padding: 10px;background: #e5e5e5">
        <div class="col-xs-12">
            <ul class="list-group" id="orderList">
                <li class="list-group-item header">
                    <div class="row ">
                        <div class="col-xs-1">姓名</div>
                        <div class="col-xs-1">性别</div>
                        <div class="col-xs-1">生日</div>
                        <div class="col-xs-1">手机</div>
                        <div class="col-xs-1">食宿费</div>
                        <div class="col-xs-1">班级</div>
                        <div class="col-xs-1">状态</div>
                        <div class="col-xs-1">预约日期</div>
                        <div class="col-xs-1">增值服务</div>
                        <div class="col-xs-3">操作</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <div id="Page"></div>
        </div>
    </div>
</div>


<div style="display: none;" id="moneyBox">
    <div class="container" style="width: 260px;height: 120px;">
        <div class="row">
            <div class="col-xs-12">已交食宿费：</div>
        </div>
        <div class="row">
            <div class="col-xs-12"><input type="text" id="money"/></div>
        </div>
    </div>
</div>
<div style="display: none;" id="classNameBox">
    <div class="container" style="width: 260px;height: 120px;">
        <div class="row">
            <div class="col-xs-12">班级：</div>
        </div>
        <div class="row">
            <div class="col-xs-12"><input type="text" id="className"/></div>
        </div>
    </div>
</div>

<!--1.预约中, 2.候补中, 3.预约成功, 4.已签到, 5.已退费-->
<div style="display: none;" id="phaseStatusBox">
    <div class="container" style="width: 260px;height: 120px;">
        <div class="row">
            <div class="col-xs-12">选择状态：</div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <select style="width: 100%;height: 40px;">
                    <option value="2">排进候补名额</option>
                    <option value="3">预约成功</option>
                    <option value="4">已参加</option>
                    <option value="5">已退费</option>
                </select>
            </div>
        </div>
    </div>
</div>

<script src="../../../Framework/Jqueryv2.4/jquery.min.js"></script>
<script src="../../../Framework/Bootstrap3.3.0/js/bootstrap.min.js"></script>
<script src="../../../Scripts/Commen/CourseCommen.js"></script>
<script src="../../../Framework/layer-v2.4/layer/layer.js"></script>
<script src="../../../Framework/laypage-v1.3/laypage/laypage.js"></script>
<script src="../../../Scripts/Admin/PhaseOrder.js"></script>
</body>
</html>