<!DOCTYPE html>
<html>
  <head>
	<title>登录界面</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
      <meta name="format-detection" content="telephone=no"/>
      <meta name="format-detection" content="email=no"/>
	<meta name="description" content="course web for morden">
	<meta name="author" content="vjchu">
  <meta http-equiv="Content-Type" content="textml; charset=utf-8"/>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="format-detection" content="email=no"/>
	<link rel="stylesheet" type="text/css" href="../../Framework/Bootstrap3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../Css/book/book.css">
  <style type="text/css">
    li{
      list-style: none;
    }
    body{background-color: #FFFFFF}
  </style>
 </head>
 
  <body>
    <div id="contacts">
      <ul class="list">
      <li class="list-li">
          

      </li>
    </ul>
  </div>
    <!--navbar-fixed-bottom-->
    <div style="height: 60px;width: 100%;"></div>
    <div class="container navbar-fixed-bottom" style="background: #FFF;">
        <div class="row" style="border-top: 1px solid #EEEEEE;">
            <div class="col-xs-4" style="height: 50px;line-height: 50px;text-align: center;font-size: 16px;">
                <a style="color: #000;" href="/Course/Views/Appointment/CourseList.html">课程介绍</a>
            </div>
            <div class="col-xs-4" style="height: 50px;line-height: 50px;border-left: 1px solid #eee;text-align: center;font-size: 16px;">
                <a style="color: #F24C4C;" href="/Course/Views/book/booking.html">我的预约</a>
            </div>
            <div class="col-xs-4" style="height: 50px;line-height: 50px;border-left: 1px solid #eee;text-align: center;font-size: 16px;">
                <a style="color: #000;" href="/Course/Views/Account/PersonalCenter.html">个人中心</a>
            </div>
        </div>
    </div>
    <script src="../../Framework/Jqueryv2.4/jquery.min.js"></script>
    <script src="../../Framework/jquery-cookies/jquery.cookie.js"></script>
    <script src="../../Framework/layer_mobile/layer.js"></script>
    <script src="../../Scripts/Commen/CourseCommen.js"></script>
    <script src="../../Scripts/book/book.js"></script>
  </body>
</html>