<!DOCTYPE html>
<html>
<head>
	<title>报名信息</title>
	<meta charset="utf-8">
	<meta name="description" content="course web for morden">
	<meta name="author" content="vjchu">
	<link rel="stylesheet" type="text/css" href="../../Css/book/sign.css">
	<link rel="stylesheet" type="text/css" href="../../Framework/Bootstrap3.3.0/css/bootstrap.min.css">
</head>
<body>
	<div class="top">
		<div align="center"><h3>摩英青少年领袖特训营</h3></div>
		<div class="container">

		</div>
	</div>
	<div class="sign">
		<p class="title">报名信息</p>
		<div class="row">
			<div class="col-xs-3"><p class="text">学员手机</p></div>
			<div class="col-xs-9"><input type="text" name="tel"></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><p class="text">电子邮件</p></div>
			<div class="col-xs-9"><input type="text" name="tel"></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><p class="text">学员姓名</p></div>
			<div class="col-xs-9"><input type="text" name="tel"></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><p class="text">性别</p></div>
			<div class="col-xs-9"><input type="text" name="tel"></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><p class="text">就读学校</p></div>
			<div class="col-xs-9"><input type="text" name="tel"></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><p class="text">就读年级</p></div>
			<div class="col-xs-9"><input type="text" name="tel"></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><p class="text">就读班级</p></div>
			<div class="col-xs-9"><input type="text" name="tel"></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><p class="text">出生日期</p></div>
			<div class="col-xs-9"><input type="text" name="tel"></div>
		</div>
	</div>

	<div class="other">
		<div class="row">
			<div class="col-xs-3"><p class="text">父亲姓名</p></div>
			<div class="col-xs-9"><input type="text" name="tel"></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><p class="text">父亲手机</p></div>
			<div class="col-xs-9"><input type="text" name="tel"></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><p class="text">母亲姓名</p></div>
			<div class="col-xs-9"><input type="text" name="tel"></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><p class="text">母亲手机</p></div>
			<div class="col-xs-9"><input type="text" name="tel"></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><p class="text">宅电</p></div>
			<div class="col-xs-9"><input type="text" name="tel"></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><p class="text">快递详细地址</p></div>
			<div class="col-xs-9"><input type="text" name="tel"></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><p class="text">填表人</p></div>
			<div class="col-xs-9"><input type="text" name="tel"></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><p class="text">你是通过什么渠道了解我们的</p></div>
			<div class="col-xs-9"><input type="text" name="tel"></div>
		</div>
	</div>

	<div class="zengzhi">
		<p class="zengzhi_title">请选择您的增值服务</p>
		
	</div>

    <script src="../../Framework/Jqueryv2.4/jquery.min.js"></script>
    <script src="../../Scripts/book/sign.js"></script>

</body>
</html>