<!-- 报名 -->
<!DOCTYPE html>
<html>
<head>
	<title>报名信息</title>
	<meta charset="utf-8">
	<meta name="description" content="course web for morden">
	<meta name="author" content="vjchu">
	<link rel="stylesheet" type="text/css" href="../../Css/book/sign.css">
	<link rel="stylesheet" type="text/css" href="../../Framework/Bootstrap3.3.0/css/bootstrap.min.css">
	 <style type="text/css">
    li{
      list-style: none;
    }
    body{background-color: #E6E6E6}
  </style>
</head>
<body>
	<div class="top">
		<div align="center"><h3>摩英青少年领袖特训营</h3></div>
		<div class="container">

		</div>
	</div>
	<div class="sign">
		<p class="title">报名信息</p>
		<div id="text_row" class="row">
			<div class="col-xs-3"><p class="text">学员手机</p></div>
			<div id="tel" class="col-xs-9"><input id="input" type="text" name="tel"></div>
		</div>
		<div id="text_row" class="row">
			<div class="col-xs-3"><p class="text">电子邮件</p></div>
			<div id="email" class="col-xs-9"><input id="input" type="text" name="tel"></div>
		</div>
		<div id="text_row" class="row">
			<div class="col-xs-3"><p class="text">学员姓名</p></div>
			<div id="name" class="col-xs-9"><input id="input" type="text" name="tel"></div>
		</div>
		<div id="text_row" class="row">
			<div class="col-xs-3"><p class="text">性别</p></div>
			<div id="sex" class="col-xs-9"><input id="input" type="text" name="tel"></div>
		</div>
		<div id="text_row" class="row">
			<div class="col-xs-3"><p class="text">就读学校</p></div>
			<div id="school" class="col-xs-9"><input id="input" type="text" name="tel"></div>
		</div>
		<div id="text_row" class="row">
			<div class="col-xs-3"><p class="text">就读年级</p></div>
			<div id="grade" class="col-xs-9"><input id="input" type="text" name="tel"></div>
		</div>
		<div id="text_row" class="row">
			<div class="col-xs-3"><p class="text">就读班级</p></div>
			<div id="class" class="col-xs-9"><input id="input" type="text" name="tel"></div>
		</div>
		<div id="text_row" class="row">
			<div class="col-xs-3"><p class="text">出生日期</p></div>
			<div id="birth" class="col-xs-9"><input id="input" type="text" name="tel"></div>
		</div>
	</div>

	<div class="other">
		<div id="text_row" class="row">
			<div class="col-xs-3"><p class="text">父亲姓名</p></div>
			<div id="f_name" class="col-xs-9"><input id="input" type="text" name="tel"></div>
		</div>
		<div id="text_row" class="row">
			<div class="col-xs-3"><p class="text">父亲手机</p></div>
			<div id="f_tel" class="col-xs-9"><input id="input" type="text" name="tel"></div>
		</div>
		<div id="text_row" class="row">
			<div class="col-xs-3"><p class="text">母亲姓名</p></div>
			<div id="m_name" class="col-xs-9"><input id="input" type="text" name="tel"></div>
		</div>
		<div id="text_row" class="row">
			<div class="col-xs-3"><p class="text">母亲手机</p></div>
			<div id="m_tel" class="col-xs-9"><input id="input" type="text" name="tel"></div>
		</div>
		<div id="text_row" class="row">
			<div class="col-xs-3"><p class="text">宅电</p></div>
			<div id="telephone" class="col-xs-9"><input id="input" type="text" name="tel"></div>
		</div>
		<div id="text_row" class="row">
			<div class="col-xs-3"><p class="text">快递详细地址</p></div>
			<div id="address" class="col-xs-9"><input id="input" type="text" name="tel"></div>
		</div>
		<div id="text_row" class="row">
			<div class="col-xs-3"><p class="text">填表人</p></div>
			<div id="tianbiaoren" class="col-xs-9"><input id="input" type="text" name="tel"></div>
		</div>
		<div id="text_row" class="row">
			<div class="col-xs-3"><p class="text">你是通过什么渠道了解我们的</p></div>
			<div id="qudao" class="col-xs-9"><input id="input" type="text" name="tel"></div>
		</div>
	</div>

	<div class="zengzhi">
		<p class="zengzhi_title">请选择您的增值服务</p>
		<div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" checked="checked">
                <p>统一版摩英回忆视频300元（单阶7天）</p>
            </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2">
            <p>VIP摩英大电影1980元（单阶7天）</p>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2">
            <p>VIP蜕变水晶相册1280元（单阶7天）</p>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2">
            <p>VIP摩英大电影 + VIP蜕变水晶相册2680元 强烈推荐 性价比极高（单阶7天）</p>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2">
            <p>VIP摩英大电影 + VIP蜕变水晶相册3980元 强烈推荐 性价比极高（两阶14天）</p>
          </label>
        </div>
	</div>

	<div class="sure">
		<center>
	      <button class="sureButton">确认信息</button>
	    </center>
	</div>
	
    <script src="../../Framework/Jqueryv2.4/jquery.min.js"></script>
    <script src="../../Scripts/Commen/CourseCommen.js"></script>
    <script src="../../Framework/jquery-cookies/jquery.cookie.js"></script>
    <script src="../../Framework/layer_mobile/layer.js"></script>
    <script src="../../Scripts/book/sign.js"></script>

</body>
</html>