<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <link rel="stylesheet" href="../../Framework/Bootstrap3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Framework/Bootstrap3.3.0/css/bootstrap-theme.css">
    <title>在线报名</title>
    <link rel="stylesheet" href="../../Css/book/Sign_UnReg.css">
    <link rel="stylesheet" href="../../Framework/DatePicker/common.css">
</head>
<body>
<div id="datePlugin"></div>

<div class="container">
    <div class="row">
        <img src="../../Images/serviceImg/logo.jpg"/>
    </div>
    <div class="row headline">
        <h3>在线报名</h3>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">学员姓名:*<input type="text" name="nickname"/></div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">性别:*
            <span style="margin-left: 10px">
                <input type="radio" name="sex" value="男" checked="checked"/>男
                   <input type="radio" name="sex" value="女"/>女
            </span>
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <span>就读学校：</span>
            <input style="width: 80%;" type="text" name="school" id="school" value=""> 学校
            <input style="width: 80%;margin-top: 8px" type="text" name="grade" id="grade" value=""> 年级
            <input style="width: 80%;margin-top: 8px" type="text" name="ban" id="ban" value=""> 班
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <span>出生日期：*</span>
            <input type="text" name="birthday" id="birthday" placeholder="格式：2000-01-01">
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <span>学员手机：</span>
            <!--<input type="text" class="form-control" name="mob" id="Phone" placeholder="选中的手机号为您下次登录的账号">-->
            <input type="text" name="mob" id="Phone">
        </div>
    </div>

    <div class="row mgt8">
        <div class="col-xs-12">
            <span>电子邮件：</span>
            <input type="text" name="email" id="mail">
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <span>父亲姓名：*</span>
            <input type="text" name="f_name" id="f_name">
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <span>父亲手机：*</span>
            <input type="text" name="f_mobile" id="f_mobile">
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <span>母亲姓名：*</span><br>
            <input type="text" name="m_name" id="m_name">
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <span>母亲手机：*</span>
            <input type="text" name="m_mobile" id="m_mobile">
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <span>请选择下次登录的手机号:</span>
            <input type="radio" name="account" value="1" checked>学生
            <input type="radio" name="account" value="2">父亲
            <input type="radio" name="account" value="3">母亲
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <span>宅电：</span>
            <input type="text" name="telphone" id="telphone" class="span12" value="">
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <span>快递地址(详细)：*</span>
            <input type="text" name="address" id="address">
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <span>填表人：</span>
            <input type="radio" name="tbr" class="np" value="父亲" checked="checked">父亲
            <input type="radio" name="tbr" class="np" value="母亲">母亲
            <input type="radio" name="tbr" class="np" value="学生本人">学生本人
            <input type="radio" name="tbr" class="np" value="其他">其他
            <input type="text" id="preparer" style="display: none" placeholder="请输入其他填表人">
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <span class="">您是通过什么渠道了解我们的，请选择：</span>
            <div class="radio-item">
                <input type="radio" name="from" value="1">演讲
            </div>
            <div class="radio-item">
                <input type="radio" name="from" value="2">网络搜索
            </div>
            <div class="radio-item">
                <input type="radio" name="from" value="3">摩英教育微信公众账号
            </div>
            <div class="radio-item">
                <input type="radio" name="from" value="4">微信朋友圈
            </div>
            <div class="radio-item">
                <input type="radio" name="from" value="5">其他学员介绍
            </div>
            <div class="col-xs-12" id="sponsor" style="display: none">
                <span>请输入介绍人(学生)姓名</span>
                <input type="text" name="sponsor">
            </div>
            <!--<div class="from_oldfriend" style="display:none;">-->
            <!--请输入介绍人（学生）姓名：<input type="text" name="oldfriend" id="oldfriend" value="">-->
            <!--</div>-->
        </div>
    </div>
    <div class="course_list">

    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <div><label>【特别提醒】</label></div>
            <div>
                <label>1、新学员报名，</label>
                <span style="color:#ff0000;">请提前6个月全额汇款，确保名额；</span>
            </div>
            <div>
                <label>2、老学员确定参加哪一期，</label>
                <span style="color:#ff0000;">以食宿费汇款到账为准。</span>
            </div>
        </div>
    </div>
    <div class="row mgt8">
        <div class="">
            <img src="../../Images/serviceImg/p_01.png"/>
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12"><img src="../../Images/serviceImg/p_019.jpg"/></div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <div style="background: #000">
                <video controls="controls" width="100%">
                    <source src="../../Res/Video/video1.mp4">
                </video>
            </div>
        </div>
    </div>
    <div class="row mgt8">
        <img src="../../Images/serviceImg/guanhe.png"/>
    </div>

    <div class="row mgt8">
        <div class="col-xs-12">
            <img src="../../Images/serviceImg/p_02.png"/>
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <img src="../../Images/serviceImg/p_03.png"/>
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <img src="../../Images/serviceImg/p_04.png"/>
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <div style="margin-top: 10px;">
                <label>摩英教育全系课程</label> 全心力作
                <label style="color: #ff0000;"> 360°蜕变全记录</label>
                影视定制产品，为您的孩子个性化定制一份专属于他的精彩回忆，一部见证孩子感动、蜕变成长的个人专属纪录片，纯净第三方视角真实记录，这将是您给孩子最好的成长礼物！
                五年、十年后，回头来看，这份青春成长的回忆对孩子的价值是无法用金钱来衡量的!再忙忙不过时间,再美美不过光阴！
            </div>
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <img src="../../Images/serviceImg/p_016.jpg"/>
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <img src="../../Images/serviceImg/p_06.png"/>
        </div>
    </div>
    <div class="row mgt8">
        <div class="">
            <img src="../../Images/serviceImg/360quanxilie.png"/>
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <div style="border-radius: 15px;color: #fff;background: red;padding: 5px;font-size: 15px;width: 60%;">
                摩英统一版回忆视频
            </div>
            <div>
                7天全程花絮集锦，成片时长40分钟左右，由观禾影视团队打造，最终刻录成一张1920x1080FHD蓝光高清D9光盘
            </div>
            <div style="border-radius: 15px;color: #fff;background: red;padding: 5px;font-size: 15px;width: 70%;">
                VIP摩英大电影(个性定制)
            </div>
            <div>
                以微电影的风格结合记录片的形式，为您完美封存孩子青春蜕变的恒久记忆，绝对比《爸爸去哪儿》更精彩哦！因为主角就是您的孩子！
                从入营报到至结营离开酒店，专业摄像师全程跟拍（其间会安排个人专访）记录学员七天集训生活、学习中的感动绽放瞬间，打造专属于您孩子个人的珍藏青春回忆。
                并由资深剪辑师后期剪辑成一部80分钟左右的个人MV微电影（1920x1080FHD蓝光高清），给家长一个全新的独特视角了解孩子的内心世界，留下一份永久珍藏的励志回忆。
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div style="background: #000">
                        <video controls="controls" width="100%">
                            <source src="../../Res/Video/video2.mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div style="border-radius: 15px;color: #fff;background: red;padding: 5px;font-size: 15px;width: 70%;margin-top: 10px;">
                VIP蜕变水晶相册(个性定制)
            </div>
            <div>
                专业摄影师全程抓拍，记录学员七天集训营生活、学习中的感动蜕变瞬间，从中精选出120张照片素材留底，
                再从120张精选照片中精修30张设计制作一本12寸的水晶相册，并附赠全部留底原始素材及精修成片。
            </div>
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <img src="../../Images/serviceImg/collection.jpg"/>
            <!--<img src="../../Images/serviceImg/p_07.png"/>-->
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <img src="../../Images/serviceImg/p_13.png"/>
        </div>
    </div>
    <div class="row mgt8">
        <div class="">
            <img src="../../Images/serviceImg/youhui.jpg"/>
        </div>
        <div style="padding-left: 30px;padding-right: 20px">
            <div>
                <div>订购VIP水晶相册赠送价值398元的:</div>
                <div style="color: #ff5f98;"> 12寸拉米娜版画、8寸水晶台摆 一套</div>
            </div>
        </div>
        <div class="row mgt8">
            <div class="col-xs-12">
                <img src="../../Images/serviceImg/p_12.png"/>
            </div>
        </div>
        <div style="padding-left: 30px;padding-right: 20px;margin-top: 8px;">
            <div>
                <div>订购VIP大电影的客户赠送价值99元的:</div>
                <div style="color: #ff5f98;">32G USB3.0 高速品牌U盘一个；</div>
            </div>
        </div>
    </div>

    <div class="row mgt8">
        <div class="col-xs-12">
            純净第三方视角真实记录, 拍摄过程中会采取尽可能隐蔽的拍摄方式，以免打扰孩子正常学习生活的情绪状态。
            集训营过程中我们会根据学员意愿安排个人专访及相关主讲老师、助教采访， 探访学员内心世界， 传达学员真实想法，在学员与家长之间建立真情流露的沟通渠道。
            定制客户的全部视频、照片原始素材均提供为期一年的 免费存档 服务（自产品订购日起一年内）可供学员及家长随时预约提取。
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <img src="../../Images/serviceImg/p_003.jpg"/>
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <img src="../../Images/serviceImg/p_10.png"/>
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <img src="../../Images/serviceImg/p_11.png"/>
        </div>
    </div>

    <div id="ValueAddedServices">
        <div class="row mgt8">
            <img src="../../Images/serviceImg/360tuibian.png"/>
        </div>
        <div class="row mgt8">
            <div class="col-xs-12">
                <h5>请选择您需要增值服务：</h5>
                <div>
                    <input type="radio" name="service" value="1"/>统一版摩英回忆视频：
                    <label style="color: red;">300元</label> (单阶7天)
                </div>
                <div>
                    <input type="radio" name="service" value="2"/>VIP摩英大电影：
                    <label style="color: red;">1980元 (单阶七天摄像服务、产品制作)</label>
                </div>
                <div>
                    <input type="radio" name="service" value="3"/>VIP蜕变水晶相册：
                    <label style="color: red;">1680元 (单阶七天摄影服务、产品制作)</label>
                </div>
                <div>
                    <input type="radio" name="service" value="4"/>VIP摩英大电影+VIP蜕变水晶相册:
                    <label style="color: red;">2880元(单阶七天) 强烈推荐 性价比极高</label>
                </div>
                <div id="DoubleServices">
                    <input type="radio" name="service" value="5"/>VIP摩英大电影+VIP蜕变水晶相册:
                    <label style="color: red;">3980元（两阶十四天） 狂烈推荐 性价比最高</label>
                </div>
                <div>
                    <input type="radio" name="service" value="0"/>我不需要此项服务
                </div>
            </div>
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12">
            <div style="border-radius: 15px;color: #fff;background: red;padding: 5px;font-size: 15px;width: 70%;">
                火爆抢定有惊喜！~
            </div>
            <div>
                成功预定VIP摩英大电影+VIP蜕变水晶相册 （单阶或双阶套餐）的学员均赠送价值300元的“统一版摩英回忆视频”！
                数量有限，按预定顺序确认发放。
            </div>
            <div style="border-radius: 15px;color: #fff;background: red;padding: 5px;font-size: 15px;width: 70%;">
                详情咨询 400-800-6258
            </div>
            <div style="color: #ff3333;">
                老学员填表提交时，请务必在备注中注明：我是老学员，上次参加的是第**期集训营。谢谢！
            </div>
            <div>
                备注（填写其他需要校方特别注意的内容）：
                <textarea id="tellme"
                          style="resize: none;width: 100%;height: 80px;outline: none;border-radius: 15px;padding: 3px;background: #eee;"></textarea>
            </div>
            <div class="text-center">
                <button style="height: 35px;background-color: #cc3333;outline: none;border-radius: 10px;width: 70%;color: #FFF;border: 0;"
                        onclick="Submit()">提 交
                </button>
            </div>
        </div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12"><img src="../../Images/serviceImg/bottom.jpg"/></div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12"><img src="../../Images/serviceImg/p_015.jpg"/></div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12"><img src="../../Images/serviceImg/p_026.jpg"/></div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12"><img src="../../Images/serviceImg/p_017.jpg"/></div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12"><img src="../../Images/serviceImg/p_018.jpg"/></div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12"><img src="../../Images/serviceImg/p_020.jpg"/></div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12"><img src="../../Images/serviceImg/p_021.jpg"/></div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12"><img src="../../Images/serviceImg/p_023.jpg"/></div>
    </div>
    <div class="row mgt8">
        <div class="col-xs-12"><img src="../../Images/serviceImg/p_024.jpg"/></div>
    </div>

</div>

<script src="../../Framework/Jqueryv2.4/jquery.min.js"></script>
<script src="../../Framework/jquery-cookies/jquery.cookie.js"></script>
<script src="../../Framework/Bootstrap3.3.0/js/bootstrap.min.js"></script>
<script src="../../Framework/layer_mobile/layer.js"></script>
<script src="../../Scripts/Commen/CourseCommen.js"></script>
<script src="../../Framework/DatePicker/date.js"></script>
<script src="../../Framework/DatePicker/iscroll.js"></script>
<script src="../../Scripts/book/Sign_UnReg.js"></script>
</body>
</html>