.top {
	background-color: #FFFFFF;
}

.title {
	color: #8C8C8C;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 16px;
}

.text {
	margin-left: 10px;
	font-weight:bold;
	margin-top: 10px;
}

.top-text {
	font-size: 12px;
}

.zengzhi_title {
	margin-left: 10px;
	color: #8C8C8C;
}

.other {
	margin-top: 10px;
	background-color: #FFFFFF;
}

.text_row {
}

.sign {
	background-color: #FFFFFF;
}

.zengzhi {
	margin-top: 10px;
	background-color: #FFFFFF;
}

.input {
	margin-bottom: 10px;
	height: 40px;
	border-radius: 3px;
	padding-left: 5px;
	border: 1px solid #eee;
}

.radio {
	margin-left: 10px;
}

.sure {
	background-color: #FFFFFF;
	height: 100px;
}

.question {
	margin-left: 10px;
	margin-right: 10px;
}

.sureButton {
	margin-left: 20px;
	margin-right: 20px;
	width: 90%;
	height: 44px;
	margin-top: 10px;
	border-radius: 4px;
	background-color: #F24D4D;
	color: #FFFFFF;
    border: 0;
}