<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <link rel="stylesheet" href="../../Framework/Bootstrap3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Framework/Bootstrap3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../Css/PersonalCenter/ExpensesRecord.css">
    <meta charset="UTF-8">
    <title>消费记录</title>

</head>
<body>
    <div class="container" id="consume">
        <!--<div class="row btm">-->
            <!--<div class="col-xs-8" style="padding-left: 10px">-->
                <!--<span class="record">阿萨德科技风比较大撒房间卡不到十分健康比对方即可不打算考几分把速度快解放</span>-->
                <!--<span style="color: grey">2016.01.01</span>-->
            <!--</div>-->
            <!--<div class="col-xs-4" style="text-align: right;padding-left: 0px;padding-top: 10px;color: red">-->
                <!-- -20000能量币-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <script src="../../Framework/Jqueryv2.4/jquery.min.js"></script>
    <script src="../../Framework/Bootstrap3.3.0/js/bootstrap.min.js"></script>
    <script src="../../Framework/jquery-cookies/jquery.cookie.js"></script>
    <script src="../../Framework/layer_mobile/layer.js"></script>
    <script src="../../Scripts/Commen/CourseCommen.js"></script>
    <!--<script src="../../Scripts/Commen/CheckUserLogin.js"></script>-->
    <script src="../../Scripts/PersonalCenter/ExpensesRecord.js"></script>
</body>
</html>