<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <link rel="stylesheet" href="../../Framework/Bootstrap3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Framework/Bootstrap3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../Css/PersonalCenter/MyQRCode.css">
    <meta charset="UTF-8">
    <title>我的二维码</title>
    
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center pd40" style="height: 25px">我的专属二维码</div>
        <div class="col-xs-12 text-center pd40">
            <img class="imgLogo" src="../../../Images/defaultphoto.jpg">
            <div class="qrcode" id="qrcode"></div>
        </div>

        <div class="col-xs-6 text-left" style="padding:10px 0 0 40px;color: #4A90E2;">
            <a href="#" id="down" download="">保存图片</a>
        </div>
        <div class="col-xs-6 text-right" style="padding:10px 40px 0px 0px;color: #4A90E2;">
            <span>分享二维码</span>
        </div>
    </div>
</div>
<script src="../../Framework/Jqueryv2.4/jquery.min.js"></script>
<script src="../../Framework/Bootstrap3.3.0/js/bootstrap.min.js"></script>
<script src="../../Framework/jquery-cookies/jquery.cookie.js"></script>
<script src="../../Framework/layer_mobile/layer.js"></script>
<script src="../../Scripts/Commen/CourseCommen.js"></script>
<script src="../../Framework/qrcodejs/jqueryqr.js"></script>
<script src="../../Framework/qrcodejs/qrcode.js"></script>
<script src="../../Scripts/PersonalCenter/MyQRCode.js"></script>
</body>
</html>