.tab {
    height: 40px;
    border-bottom: 1px solid #eee;
}

.tab > div {
    margin-top: 15px;
}

.tab a {
    color: #000;
    font-size: 16px;
    padding-bottom: 2px;
    text-decoration: none;
}

.active {
    color: red !important;
    border-bottom: 2px solid #ff0000;
}

.record {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: block;
}

.btm {
    height: 50px;
    padding-top: 5px;
    border-bottom: 1px solid #EEEEEE;
}