.qrcode {
    position: absolute;
    top: 25%;
    padding: 20%;
    /*border: 1px solid #4A90E2;*/
    /*border-radius: 5px;*/
}

.qrcode img {
    display: inline-block !important;
    width: 100%;
}

.qrcode canvas {
    width: 100%;
}

.headerImg {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.nickName {
    position: absolute;
    top: 25px;
    left: 70px;
    width: 70%;
    color: white;
    height: 20px;
}

.pd40 {
    padding: 0px 40px;
}

.container {
    margin-top: 20%
}
.imgLogo{display: none;}