.qrcode {
    padding: 30px;
    border: 1px solid #4A90E2;
    border-radius: 5px;
}

.qrcode img {
    display: inline-block !important;
    width: 100%;
}

.qrcode canvas {
    width: 100%;
}

.pd40 {
    padding: 0px 40px;
}

.container {
    margin-top: 20%
}
.imgLogo{display: none;}