<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../../Framework/Bootstrap3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../Framework/Bootstrap3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../../Css/Admin/Comm.css">
    <meta charset="UTF-8">
    <title>提现列表</title>
    <style>
        .header {
            background: #efefef;
            font-size: 15px;
        }
    </style>
</head>
<body>
    <div id="header"></div>
    <div style="height: 80px"></div>
    <div class="container">
        <div class="row" style="padding: 10px;background: #e5e5e5">
            <div class="col-xs-5 text-left">
                <h4><strong>提现列表</strong></h4>
            </div>
            <div class="col-xs-2" style="margin-top: 5px;">
                <select class="form-control" id="Select">
                    <option value="0">全部</option>
                    <option value="1">申请中</option>
                    <option value="2">已成功</option>
                </select>
            </div>
            <div class="col-xs-5 text-right">
                <input type="text" class="input" style="width: 60%" id="SearchKey" placeholder="请输入搜索关键字"/>
                <button class="button70X30" id="btnSearch">搜 索</button>
                <!--<button class="button70X30" id="btnAdd" onclick="window.location.href='CourseEdit.html'">新 增</button>-->
            </div>
        </div>
        <div class="row" style="padding: 10px;background: #e5e5e5">
            <div class="col-xs-12">
                <ul class="list-group" id="course_list">
                    <li class="list-group-item header">
                        <div class="row ">
                            <div class="col-lg-2">阶段课程名称</div>
                            <div class="col-lg-1">课程类型</div>
                            <div class="col-lg-1">开始时间</div>
                            <div class="col-lg-1">结束时间</div>
                            <div class="col-lg-2">举办地址</div>
                            <div class="col-lg-1">食宿费</div>
                            <div class="col-lg-1">招生名额</div>
                            <div class="col-lg-3">操作</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-2">阶段课程名称</div>
                            <div class="col-lg-1">课程类型</div>
                            <div class="col-lg-1">开始时间</div>
                            <div class="col-lg-1">结束时间</div>
                            <div class="col-lg-2">举办地址</div>
                            <div class="col-lg-1">食宿费</div>
                            <div class="col-lg-1">招生名额</div>
                            <div class="col-lg-3">操作</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../../../Framework/Jqueryv2.4/jquery.min.js"></script>
    <script src="../../../Framework/Bootstrap3.3.0/js/bootstrap.min.js"></script>
    <script src="../../../Framework/jquery-cookies/jquery.cookie.js"></script>
    <script src="../../../Scripts/Commen/CourseCommen.js"></script>
    <script src="../../../Framework/layer-v2.4/layer/layer.js"></script>
    <script src="../../../Scripts/Admin/WithdrawList.js"></script>
</body>
</html>